In [1]:
import findspark
findspark.init()
findspark.find()

'/home/nishi/.local/lib/python3.10/site-packages/pyspark'

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = ( 
    SparkSession.builder.appName("TaxiOperationDataFrameApp")
    .master("local[4]")
    .config("spark.dynamicAllocation.enabled", "false")
    .config("spark.sql.adaptive.enabled", "false")
    .getOrCreate()
    )
sc = spark.sparkContext
spark

23/08/13 21:07:57 WARN Utils: Your hostname, nishi-ubuntu resolves to a loopback address: 127.0.1.1; using 192.168.1.40 instead (on interface enp0s31f6)
23/08/13 21:07:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/13 21:07:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
from IPython.display import *
display(HTML("<style>pre {white-space: pre !important; }</style>"))

In [11]:
# Create RDD with Complex Type
data = [
    [1, "Neha", 10000],
    [2, "Steve", 20000],
    [3, "Kari", 30000],
    [4, "Ivan", 40000],
    [5, "Mohit", 50000],
]
employeeRDD = sc.parallelize(data)

In [12]:
# Create DataFrame from RDD
employeesDF = employeeRDD.toDF()
employeesDF.show()

+---+-----+-----+
| _1|   _2|   _3|
+---+-----+-----+
|  1| Neha|10000|
|  2|Steve|20000|
|  3| Kari|30000|
|  4| Ivan|40000|
|  5|Mohit|50000|
+---+-----+-----+

In [13]:
# Define Column name to data frame
employeesDF = employeesDF.toDF("Id", "Name", "Salary")
employeesDF.show()

+---+-----+------+
| Id| Name|Salary|
+---+-----+------+
|  1| Neha| 10000|
|  2|Steve| 20000|
|  3| Kari| 30000|
|  4| Ivan| 40000|
|  5|Mohit| 50000|
+---+-----+------+

In [14]:
# Print Data frame Schema
employeesDF.printSchema()

root
 |-- Id: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Salary: long (nullable = true)

In [17]:
#Read Yellowtaxis csv file to create DataFrame
yellowTaxiDF = (spark.read.option("header", "true").csv("/home/nishi/PycharmProjects/pythonProject/pySpark/DataFiles/YellowTaxis_202210.csv"))

In [18]:
# Show the Data
yellowTaxiDF.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1|2022-10-01T05:33:...| 2022-10-01T05:48:...|            1.0|          1.7|       1.0|                 N|         249|         107|           1|        9.5|  3.0|    0.5|      2.65|         0.0|                  0.3|       15.95|                 2.5|        0.0|
|       2|2022-10-01T05:44:...| 2022-10-01T05:49:...|            2.0|         0.72|       1.0|                 N|         151|         238|           2|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.3|                 2.5|        0.0|
|       2|2022-10-01T05:57:...| 2022-10-01T06:07:...|            1.0|         1.74|       1.0|                 N|         238|         166|           1|        9.0|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|                 0.0|        0.0|
|       1|2022-10-01T06:02:...| 2022-10-01T06:08:...|            0.0|          1.3|       1.0|                 N|         142|         239|           1|        6.5|  3.0|    0.5|      2.05|         0.0|                  0.3|       12.35|                 2.5|        0.0|
|       1|2022-10-01T06:14:...| 2022-10-01T06:20:...|            0.0|          1.0|       1.0|                 N|         238|         166|           1|        6.0|  0.5|    0.5|       1.8|         0.0|                  0.3|         9.1|                 0.0|        0.0|
|       1|2022-10-01T05:52:...| 2022-10-01T06:22:...|            1.0|          6.8|       1.0|                 Y|         186|          41|           2|       25.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        29.3|                 2.5|        0.0|
|       2|2022-10-01T06:03:...| 2022-10-01T06:14:...|            3.0|         1.88|       1.0|                 N|         162|         145|           2|       10.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        14.3|                 2.5|        0.0|
|       1|2022-10-01T05:32:...| 2022-10-01T06:20:...|            1.0|         12.2|       1.0|                 N|         100|          22|           1|       41.0|  3.0|    0.5|       3.0|         0.0|                  0.3|        47.8|                 2.5|        0.0|
|       2|2022-10-01T05:36:...| 2022-10-01T05:54:...|            1.0|         7.79|       1.0|                 N|         138|         112|           1|       23.5|  0.5|    0.5|      4.96|         0.0|                  0.3|       31.01|                 0.0|       1.25|
|       2|2022-10-01T05:59:...| 2022-10-01T06:13:...|            1.0|         4.72|       1.0|                 N|         145|          75|           1|       14.5|  0.5|    0.5|       1.5|         0.0|                  0.3|        19.8|                 2.5|        0.0|
|       1|2022-10-01T05:31:...| 2022-10-01T05:50:...|            1.0|          8.8|       1.0|                 N|         138|         236|           1|       26.0| 4.25|    0.5|      5.64|        6.55|                  0.3|       43.24|                 2.5|       1.25|
|       1|2022-10-01T05:57:...| 2022-10-01T06:29:...|            1.0|          8.6|       1.0|                 N|         140|          36|           1|       29.5|  3.0|    0.5|       6.0|         0.0|                  0.3|        39.3|                 2.5|        0.0|
|       1|2022-10-01T05:35:...| 2022-10-01T06:05:...|            4.0|         12.0|       1.0|                 N|          70|         230|           2|       36.5|  3.0|    0.5|       0.0|        6.55|                  0.3|       46.85|                 2.5|        0.0|
|       1|2022-10-01T06:08:...| 2022-10-01T06:18:...|            2.0|          1.4|       1.0|                 N|         230|          68|           1|        8.5|  3.0|    0.5|      3.05|         0.0|                  0.3|       15.35|                 2.5|        0.0|
|       2|2022-10-01T05:54:...| 2022-10-01T06:00:...|            1.0|         0.76|       1.0|                 N|          79|         113|           1|        5.5|  0.5|    0.5|      0.93|         0.0|                  0.3|       10.23|                 2.5|        0.0|
|       2|2022-10-01T06:02:...| 2022-10-01T06:28:...|            1.0|          7.8|       1.0|                 N|         113|         116|           1|       26.5|  0.5|    0.5|      6.06|         0.0|                  0.3|       36.36|                 2.5|        0.0|
|       2|2022-10-01T05:47:...| 2022-10-01T06:00:...|            2.0|          2.9|       1.0|                 N|          13|         249|           1|       12.0|  0.5|    0.5|       2.8|         0.0|                  0.3|        18.6|                 2.5|        0.0|
|       2|2022-10-01T06:02:...| 2022-10-01T06:14:...|            1.0|         1.71|       1.0|                 N|         249|          79|           1|        9.0|  0.5|    0.5|      2.56|         0.0|                  0.3|       15.36|                 2.5|        0.0|
|       2|2022-10-01T05:39:...| 2022-10-01T05:51:...|            1.0|          2.3|       1.0|                 N|          48|         249|           1|       10.0|  0.5|    0.5|      2.76|         0.0|                  0.3|       16.56|                 2.5|        0.0|
|       2|2022-10-01T05:52:...| 2022-10-01T06:03:...|            2.0|         1.67|       1.0|                 N|         249|         224|           1|        8.5|  0.5|    0.5|      2.46|         0.0|                  0.3|       14.76|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [20]:
# Print Schema
yellowTaxiDF.printSchema()

root
 |-- VendorID: string (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- RatecodeID: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- congestion_surcharge: string (nullable = true)
 |-- airport_fee: string (nullable = true)

In [21]:
# Use tab delimeter to read GreenTaxi file
greenTaxiDF = (spark
              .read
              .option("header", "true")
              .option("delimiter", "\t")
              .csv("/home/nishi/PycharmProjects/pythonProject/pySpark/DataFiles/GreenTaxis_*.csv"))
greenTaxiDF.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorId|lpep_pickup_datetime|lpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2|2022-10-01T06:08:...| 2022-10-01T06:21:...|            1.0|         2.47|       1.0|                 N|         256|         225|         1.0|       11.5|  0.5|    0.5|      2.56|         0.0|                  0.3|       15.36|                 0.0|        0.0|
|       2|2022-10-01T06:36:...| 2022-10-01T06:42:...|            1.0|         1.96|       1.0|                 N|         166|         152|         1.0|        7.5|  0.5|    0.5|       2.2|         0.0|                  0.3|        11.0|                 0.0|        0.0|
|       2|2022-10-01T06:01:...| 2022-10-01T06:15:...|            1.0|         2.43|       1.0|                 N|          74|         262|         1.0|       11.5|  0.5|    0.5|       2.0|         0.0|                  0.3|       17.55|                2.75|        0.0|
|       2|2022-10-01T06:21:...| 2022-10-01T06:28:...|            1.0|         2.25|       1.0|                 N|          74|          42|         1.0|        8.5|  0.5|    0.5|      1.96|         0.0|                  0.3|       11.76|                 0.0|        0.0|
|       1|2022-10-01T06:12:...| 2022-10-01T06:24:...|            1.0|          0.0|       1.0|                 N|          74|         247|         1.0|       17.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        18.0|                 0.0|        0.0|
|       2|2022-10-01T05:55:...| 2022-10-01T06:05:...|            2.0|          4.5|       1.0|                 N|         134|          57|         2.0|       14.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.3|                 0.0|        0.0|
|       2|2022-10-01T05:48:...| 2022-10-01T06:00:...|            1.0|         1.65|       1.0|                 N|          83|           7|         1.0|        9.5|  0.5|    0.5|      1.62|         0.0|                  0.3|       12.42|                 0.0|        0.0|
|       2|2022-10-01T06:06:...| 2022-10-01T06:22:...|            1.0|          3.0|       1.0|                 N|          33|         125|         1.0|       13.5|  0.5|    0.5|      3.51|         0.0|                  0.3|       21.06|                2.75|        0.0|
|       2|2022-10-01T05:40:...| 2022-10-01T05:58:...|            1.0|         3.92|       5.0|                 N|          95|         216|         2.0|       25.0|  0.0|    0.0|       0.0|         0.0|                  0.3|        25.3|                 0.0|        0.0|
|       2|2022-10-01T05:52:...| 2022-10-01T06:07:...|            1.0|         2.94|       5.0|                 N|         130|         216|         2.0|       20.0|  0.0|    0.0|       0.0|         0.0|                  0.3|        20.3|                 0.0|        0.0|
|       2|2022-10-01T06:05:...| 2022-10-01T06:21:...|            2.0|         6.48|       1.0|                 N|         116|          68|         1.0|       20.5|  0.5|    0.5|      4.91|         0.0|                  0.3|       29.46|                2.75|        0.0|
|       2|2022-10-01T05:48:...| 2022-10-01T05:53:...|            1.0|         0.74|       1.0|                 N|         166|          41|         1.0|        5.0|  0.5|    0.5|      1.89|         0.0|                  0.3|        8.19|                 0.0|        0.0|
|       2|2022-10-01T06:08:...| 2022-10-01T06:14:...|            1.0|         1.02|       1.0|                 N|          42|          42|         2.0|        6.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.3|                 0.0|        0.0|
|       2|2022-10-01T05:36:...| 2022-10-01T05:41:...|            3.0|         0.64|       1.0|                 N|         255|         255|         1.0|        5.0|  0.5|    0.5|      1.26|         0.0|                  0.3|       10.06|                 0.0|        0.0|
|       2|2022-10-01T06:11:...| 2022-10-01T06:12:...|            1.0|          0.0|       1.0|                 N|         260|         260|         2.0|        2.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         3.8|                 0.0|        0.0|
|       2|2022-10-01T06:21:...| 2022-10-01T06:33:...|            1.0|         1.06|       1.0|                 N|         260|         260|         1.0|        9.5|  0.5|    0.5|      10.0|         0.0|                  0.3|        20.8|                 0.0|        0.0|
|       2|2022-10-01T05:36:...| 2022-10-01T05:45:...|            1.0|         1.69|       1.0|                 N|           7|         223|         1.0|        7.5|  0.5|    0.5|      1.76|         0.0|                  0.3|       10.56|                 0.0|        0.0|
|       2|2022-10-01T06:31:...| 2022-10-01T06:52:...|            1.0|         6.03|       1.0|                 N|          75|         235|         1.0|       19.5|  0.5|    0.5|       6.0|         0.0|                  0.3|        26.8|                 0.0|        0.0|
|       2|2022-10-01T06:09:...| 2022-10-01T06:23:...|            1.0|         3.61|       1.0|                 N|          74|          69|         1.0|       13.5|  0.5|    0.5|      2.96|         0.0|                  0.3|       17.76|                 0.0|        0.0|
|       2|2022-10-01T05:57:...| 2022-10-01T06:07:...|            1.0|         2.74|       1.0|                 N|          75|          42|         1.0|       10.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.8|                 0.0|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [24]:
# Read JSON files
paymentTypesDF = (
                    spark
                    .read
                    .json("/home/nishi/PycharmProjects/pythonProject/pySpark/DataFiles/PaymentTypes.json")
)
paymentTypesDF.show()

+-----------+-------------+
|PaymentType|PaymentTypeID|
+-----------+-------------+
|Credit Card|            1|
|       Cash|            2|
|  No Charge|            3|
|    Dispute|            4|
|    Unknown|            5|
|Voided Trip|            6|
+-----------+-------------+

In [25]:
#Read Yellowtaxis csv file to create DataFrame
yellowTaxiDF = (spark.read.option("header", "true")
                .option("inferSchema", "true")
                .csv("/home/nishi/PycharmProjects/pythonProject/pySpark/DataFiles/YellowTaxis_202210.csv"))
yellowTaxiDF.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [28]:
# Create schema to yellow Taxi
yellowTaxiSchema = (
StructType([
StructField("VendorID" , IntegerType() , True),
StructField("tpep_pickup_datetime" , TimestampType() , True),
StructField("tpep_dropoff_datetime" , TimestampType() , True),
StructField("passenger_count" , DoubleType() , True),
StructField("trip_distance" , DoubleType() , True),
StructField("RatecodeID" , DoubleType() , True),
StructField("store_and_fwd_flag" , StringType() , True),
StructField("PULocationID" , IntegerType() , True),
StructField("DOLocationID" , IntegerType() , True),
StructField("payment_type" , IntegerType() , True),
StructField("fare_amount" , DoubleType() , True),
StructField("extra" , DoubleType() , True),
StructField("mta_tax" , DoubleType() , True),
StructField("tip_amount" , DoubleType() , True),
StructField("tolls_amount" , DoubleType() , True),
StructField("improvement_surcharge" , DoubleType() , True),
StructField("total_amount" , DoubleType() , True),
StructField("congestion_surcharge" , DoubleType() , True),
StructField("airport_fee" , DoubleType() , True)
])
)

In [30]:
#Create DataFrame using existing dataframe
yellowtaxiDF = (
    spark.read.option("header", "true")
               .schema(yellowTaxiSchema)
               .csv("/home/nishi/PycharmProjects/pythonProject/pySpark/DataFiles/YellowTaxis_202210.csv"))
yellowtaxiDF.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [36]:
#Read Multiline JSON file
taxiBasesDF = (spark
               .read
               .option("multiline", "true")
               .json("/home/nishi/PycharmProjects/pythonProject/pySpark/DataFiles/TaxiBases.json"))
taxiBasesDF.show(truncate=False)

+-----------------------------------------------------------+----------+--------------------------------------+------------------------------------------------+--------------+------------+----------------+--------+---------------------------+
|Address                                                    |Date      |Entity Name                           |GeoLocation                                     |License Number|SHL Endorsed|Telephone Number|Time    |Type of Base               |
+-----------------------------------------------------------+----------+--------------------------------------+------------------------------------------------+--------------+------------+----------------+--------+---------------------------+
|{636, NEW YORK, 10001, NY, WEST   28 STREET}               |08/15/2019|VIER-NY,LLC                           |{40.75273, (40.75273, -74.006408), -74.006408}  |B02865        |No          |6466657536      |18:03:31|BLACK CAR BASE             |
|{131, BRONX, 10468, NY, KINGSBRIDGE ROAD}                  |08/15/2019|VETERANS RADIO DISPATCHER CORP.       |{40.86927, (40.86927, -73.90281), -73.90281}    |B02634        |No          |7183647878      |18:03:31|LIVERY BASE                |
|{115-54, ELMONT, 11003, NY, 238 STREET}                    |08/15/2019|ALPHA VAN LINE                        |{40.693473, (40.693473, -73.724446), -73.724446}|B80094        |No          |5162850750      |18:03:31|COMMUTER VAN AUTHORITY BASE|
|{866, BROOKLYN, 11208, NY, NEW LOTS AVENUE}                |08/15/2019|A.T.B. CAR AND LIMOUSINE SERVICE, INC.|{40.667838, (40.667838, -73.8788), -73.8788}    |B02677        |No          |7184854444      |18:03:31|LIVERY BASE                |
|{57-48, MASPETH, 11378, NY, MASPETH AVENUE}                |08/15/2019|KYOEI LIMOUSINE, INC.                 |{40.722961, (40.722961, -73.91031), -73.91031}  |B02152        |No          |7183263258      |18:03:31|LUXURY/LIMOUSINE           |
|{31-00, LIC, 11101, NY, 47 AVENUE  SUITE # 4123A}          |08/15/2019|ENDOR CAR & DRIVER,LLC.               |{40.742082, (40.742082, -73.93552), -73.93552}  |B02844        |No          |4154758459      |18:03:31|BLACK CAR BASE             |
|{68-20A, FRESH MEADOWS, 11365, NY, FRESH MEADOW LANE}      |08/15/2019|SKYWAY EXECUTIVE SERVICE, INC         |{40.733337, (40.733337, -73.794706), -73.794706}|B02841        |No          |7183595959      |18:03:31|BLACK CAR BASE             |
|{22-11, LIC, 11101, NY, 38 AVENUE}                         |08/15/2019|FARRELL'S LEASING CO.                 |{40.757077, (40.757077, -73.937504), -73.937504}|B00472        |No          |2128616300      |18:03:31|LUXURY/LIMOUSINE           |
|{429, BROOKLYN, 11212, NY, SUTTER AVENUE}                  |08/15/2019|CITY CAR SERVICE CORP                 |{40.668473, (40.668473, -73.903383), -73.903383}|B01739        |No          |7184182222      |18:03:31|LIVERY BASE                |
|{41-31, FLUSHING, 11355, NY, MAIN STREET}                  |08/15/2019|YELLOWSTONE TRANSPORTATION INC.       |{40.758114, (40.758114, -73.82962), -73.82962}  |B00248        |No          |7185397777      |18:03:31|LIVERY BASE                |
|{1811, BROOKLYN, 11223, NY, EAST    7 STREET}              |08/15/2019|ELTRI CAR SERVICE INC                 |{40.612302, (40.612302, -73.963221), -73.963221}|B02861        |No          |7183820100      |18:03:31|BLACK CAR BASE             |
|{104-08, RICHMOND HILL, 11419, NY, 123RD STREET}           |08/15/2019|V.J. CAR & LIMO SVC INC.              |{40.691906, (40.691906, -73.82342), -73.82342}  |B02093        |No          |7186417777      |18:03:31|LIVERY BASE                |
|{6701, BROOKLYN, 11204, NY, BAY PARKWAY  OFFICE #1 3RD FLR}|08/15/2019|ADVANTAGE LIMO OF NY INC              |{40.603784, (40.603784, -73.972558), -73.972558}|B02980        |No          |3478655876      |18:03:31|LUXURY/LIMOUSINE           |
|{636, NEW YORK, 10001, NY, WEST   28 STREET}               |08/15/2019|ELF-NY,LLC                            |{40.75273, (40.75273, -74.00641), -74.00641}    |B02878        |No          |6466657540      |18:03:31|BLACK CAR BASE             |
|{85-02, REGO PARK, 11374, NY, 67 AVENUE  SUITE 1}          |08/15/2019|ALTA MEDICAL TRANSPORTATION, INC.     |{40.717275, (40.717275, -73.86211), -73.86211}  |B90691        |No          |7188972582      |18:03:31|PARATRANSIT BASE           |
|{565, BRONX, 10460, NY, VAN NEST AVENUE}                   |08/15/2019|RAELEEN CAR CORP.                     |{40.755734, (40.755734, -73.93795), -73.93795}  |B02840        |No          |9176031815      |18:03:31|BLACK CAR BASE             |
|{2421, BROOKLYN, 11214, NY, BATH AVENUE}                   |08/15/2019|ASCONA CAR SERVICE INC.               |{40.595422, (40.595422, -73.992368), -73.992368}|B02658        |No          |7186461611      |18:03:31|LIVERY BASE                |
|{6318, BROOKLYN, 11219, NY, 14 AVENUE}                     |08/15/2019|CHICO EXPRESS LIMO, INC.              |{40.625609, (40.625609, -73.998684), -73.998684}|B02331        |No          |7182367777      |18:03:31|BLACK CAR BASE             |
|{32-10, LIC, 11101, NY, GREENPOINT AVENUE}                 |08/15/2019|LYFE AUTO GROUP INC                   |{40.734944, (40.734944, -73.935733), -73.935733}|B02969        |No          |7187066234      |18:03:31|BLACK CAR BASE             |
|{626, UNIONDALE, 11556, NY, REXCORP PLAZA}                 |08/15/2019|SAROS TRANSPORTATION GROUP INC.       |{40.638931, (40.638931, -73.982954), -73.982954}|B02651        |No          |7185640084      |18:03:31|BLACK CAR BASE             |
+-----------------------------------------------------------+----------+--------------------------------------+------------------------------------------------+--------------+------------+----------------+--------+---------------------------+
only showing top 20 rows

In [37]:
taxiBasesDF.printSchema()

root
 |-- Address: struct (nullable = true)
 |    |-- Building: string (nullable = true)
 |    |-- City: string (nullable = true)
 |    |-- Postcode: long (nullable = true)
 |    |-- State: string (nullable = true)
 |    |-- Street: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Entity Name: string (nullable = true)
 |-- GeoLocation: struct (nullable = true)
 |    |-- Latitude: double (nullable = true)
 |    |-- Location: string (nullable = true)
 |    |-- Longitude: double (nullable = true)
 |-- License Number: string (nullable = true)
 |-- SHL Endorsed: string (nullable = true)
 |-- Telephone Number: long (nullable = true)
 |-- Time: string (nullable = true)
 |-- Type of Base: string (nullable = true)

In [38]:
yellowTaxiAnalyzedDF = (yellowTaxiDF.describe("passenger_count", "trip_distance"))
yellowTaxiAnalyzedDF.show()

+-------+------------------+-----------------+
|summary|   passenger_count|    trip_distance|
+-------+------------------+-----------------+
|  count|           3542392|          3675412|
|   mean|1.3846934500755421|6.206976298167358|
| stddev|0.9302303297407405|640.8236808320215|
|    min|               0.0|              0.0|
|    max|               9.0|        389678.46|
+-------+------------------+-----------------+

In [43]:
# Display the count before operation
print("Before operation = "+ str(yellowTaxiDF.count()))

yellowTaxiDF = (yellowTaxiDF.where("passenger_count > 0")
.filter(col("trip_distance") > 0.0))

# Display the count after operation

print("After operation = "+ str(yellowTaxiDF.count()))

Before operation = 3472140

After operation = 3422296

In [44]:
# Display the count before operation
print( "Before operation = "+ str(yellowTaxiDF.count()))

yellowTaxiDF = (
                yellowTaxiDF.dropDuplicates()
                )
# Display the count after operation
print( "After operation = "+ str(yellowTaxiDF.count()))

Before operation = 3422296

After operation = 3422295

In [48]:
# Display the count before operation
print( "Before operation = "+ str(yellowTaxiDF.count()))

yellowTaxiDF = (
                yellowTaxiDF.where("tpep_pickup_datetime >= '2022-10-01' AND tpep_dropoff_datetime < '2022-11-01'")
                )
# Display the count after operation
print( "After operation = "+ str(yellowTaxiDF.count()))

Before operation = 3422295

After operation = 3393897

In [51]:
# Cleanup data using DataQuality checks

yellowtaxiDF = (yellowTaxiDF
               .where ("passenger_count > 0")
               .filter(col("trip_distance") > 0.0)
               .na.drop('all')
               #.na.fill(defaultValueMap)
               .dropDuplicates()
               .where("tpep_pickup_datetime >= '2022-10-01' AND tpep_dropoff_datetime < '2022-11-01'"))

yellowtaxiDF.count()

3393897

In [56]:
# change DataFrame
yellowTaxiDF = (yellowTaxiDF
               # Select only limites columns
               .select(
               "VendorID",
               col("passenger_count").cast(IntegerType()),
               column("trip_distance").alias("TripDistance"),
               yellowTaxiDF.tpep_pickup_datetime,
               "tpep_dropoff_datetime",
               "PULocationID",
               "DOLocationID",
               "RatecodeID",
               "total_amount",
               "payment_type"))
yellowTaxiDF.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)

In [57]:
# change DataFrame
yellowTaxiDF = (yellowTaxiDF
               .withColumnRenamed("passenger_count", "PassengerCount")
               .withColumnRenamed("tpep_pickup_datetime", "PickupTime")
               .withColumnRenamed("tpep_dropoff_datetime", "DropTime")
               .withColumnRenamed("PULocationID", "PickupLocationId")
               .withColumnRenamed("DOLocationID", "DropLocationId")
               .withColumnRenamed("total_amount", "TotalAmount")
               .withColumnRenamed("payment_type", "PaymentType"))
yellowTaxiDF.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- PassengerCount: integer (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- PickupTime: timestamp (nullable = true)
 |-- DropTime: timestamp (nullable = true)
 |-- PickupLocationId: integer (nullable = true)
 |-- DropLocationId: integer (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- TotalAmount: double (nullable = true)
 |-- PaymentType: integer (nullable = true)

In [59]:
#Create derived column for year , month and day
yellowTaxiDF = (yellowTaxiDF
               .withColumn("TripYear", year(col("PickupTime")))
               .select("*",
                      expr("month(PickupTime) AS TripMonth"),
                      dayofmonth(col("PickupTime")).alias("Tripday")
                      ))

yellowTaxiDF.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- PassengerCount: integer (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- PickupTime: timestamp (nullable = true)
 |-- DropTime: timestamp (nullable = true)
 |-- PickupLocationId: integer (nullable = true)
 |-- DropLocationId: integer (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- TotalAmount: double (nullable = true)
 |-- PaymentType: integer (nullable = true)
 |-- TripYear: integer (nullable = true)
 |-- TripMonth: integer (nullable = true)
 |-- Tripday: integer (nullable = true)

In [60]:
#Option 1
yellowTaxiDF = (yellowTaxiDF
               .withColumn("TripTimeinMinutes",
                           round((unix_timestamp(col("DropTime"))
                                 -unix_timestamp(col("PickupTime")))/60)
                          ))

yellowTaxiDF.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- PassengerCount: integer (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- PickupTime: timestamp (nullable = true)
 |-- DropTime: timestamp (nullable = true)
 |-- PickupLocationId: integer (nullable = true)
 |-- DropLocationId: integer (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- TotalAmount: double (nullable = true)
 |-- PaymentType: integer (nullable = true)
 |-- TripYear: integer (nullable = true)
 |-- TripMonth: integer (nullable = true)
 |-- Tripday: integer (nullable = true)
 |-- TripTimeinMinutes: double (nullable = true)